.footer {
  background-color: var(--secondary-bg-color);
}

.studio {
  color: var(--secondary-text-color);
}

.footer-container {
  display: flex;
  padding-top: 60px;
  justify-content: center;
}

.map {
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-contact__item .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--contact-text-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.footer-contact__list .contact-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact__item .link:hover,
.footer-contact__item .link:focus {
  color: var(--accent-color);
}

/* Footer social */

.social-container {
  align-items: baseline;
  padding-left: 70px;
}

.footer-social__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 10px;
  color: var(--secondary-text-color);
}

.footer-social__list {
  display: flex;
  justify-content: space-around;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-bg-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration) var(--timing-function);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

/* Footer form */

.form-container {
  align-items: baseline;
  padding-left: 93px;
}

.footer-form__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 10px;
}

.footer-form__field {
  position: relative;
  display: flex;
  flex-direction: row;
}

.footer-form__subscribe-field {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: var(--secondary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--timing-function);
}

.footer-form__subscribe-field:focus {
  border-color: var(--accent-color);
  outline: none;
  cursor: pointer;
}

.footer-form__subscribe-label {
  display: block;
  position: absolute;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.footer-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

.footer-form__subscribe-btn:hover,
.footer-form__subscribe-btn:focus {
  background-color: #188ce8;
}
