.social__list {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: fill,
    background-color var(--transition-duration) var(--timing-function);
}

.social__link .social__icon:not(:last-child) {
  margin-right: 10px;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-text-color);
}
